$accent-color: #D58C51;
$white: #FFFFFF;

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

.card{
  padding: 43px 21px 32px 21px;
  border: 1px solid $accent-color;
  max-width: 312px;
  max-height: 552px;
  transition: all .5s;
  cursor: pointer;
  &:hover{
    color: $accent-color;
  }

  &__img{
    margin-bottom: 31px;
    width: 270px;
    height: 270px;
    object-fit: contain;
  }

  &__title{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 9px;
    min-height: 42px;
    @include line-clamp(2);
  }

  &__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
    min-height: 53px;
    @include line-clamp(3);
  }

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }

  &__weight{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    transition: all .5s;
    font-size: 25px;
    &:hover{
      background-color: $accent-color;
      border: 1px solid $accent-color;
    }
  }
}
